<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>testing</servlet-name>
        <servlet-class>Controller.testing</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentRegistration</servlet-name>
        <servlet-class>Controller.StudentRegistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinalUpdate</servlet-name>
        <servlet-class>Controller.FinalUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSubjects</servlet-name>
        <servlet-class>Controller.AddSubjects</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubjectUpdate</servlet-name>
        <servlet-class>Controller.SubjectUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSubjectControl</servlet-name>
        <servlet-class>Controller.AddSubjectControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddQuestionController</servlet-name>
        <servlet-class>Controller.AddQuestionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Question_Check_Store</servlet-name>
        <servlet-class>Controller.Question_Check_Store</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogServlet</servlet-name>
        <servlet-class>Controller.LogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfile</servlet-name>
        <servlet-class>Controller.EditProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogin</servlet-name>
        <servlet-class>Controller.AdminLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogout</servlet-name>
        <servlet-class>Controller.AdminLogout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>testing</servlet-name>
        <url-pattern>/testing</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentRegistration</servlet-name>
        <url-pattern>/StudentRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinalUpdate</servlet-name>
        <url-pattern>/FinalUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSubjects</servlet-name>
        <url-pattern>/AddSubjects</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectUpdate</servlet-name>
        <url-pattern>/SubjectUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSubjectControl</servlet-name>
        <url-pattern>/AddSubjectControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddQuestionController</servlet-name>
        <url-pattern>/AddQuestionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Question_Check_Store</servlet-name>
        <url-pattern>/Question_Check_Store</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogServlet</servlet-name>
        <url-pattern>/LogServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfile</servlet-name>
        <url-pattern>/EditProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogin</servlet-name>
        <url-pattern>/AdminLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogout</servlet-name>
        <url-pattern>/AdminLogout</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
